header .header {
  background: #333333;
}

header {
  color: white;
}

header .logo {
  font-size: 4vh;
}

header .menu {
  text-align: right;
}

header a {
  font-size: 1.1vh;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9EA3A6;
  margin: 0 10px;
}

a:hover {
  text-decoration: none;
}

header a:hover {
  color: #DDDDDD;
}

.header {
  padding: 12px 0;
}

.container-fluid.intro {
  background: #00A89E;
  color: white;
  text-align: center;
}

.container {
  padding: 0 78px;
}

.heading {
  padding-top: 30px;
  padding-bottom: 60px;
}

.heading h1 {
  font-size: 7.5vh;
  font-weight: bolder;
  text-transform: uppercase;
}

.heading p {
  color: #ADE3E0;
  font-size: 2.8vh;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 0 28px;
}

.cta {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.cta a {
  font-size: 2vh;
  font-weight: lighter;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 0 2px;
}

a.click {
  background: #F5F5F5;
  color: #6A6A6A;
}

a.purchase {
  background: #272727;
  color: #979797;
}

.content-heading {
  margin-bottom: 10px;
}

.content-heading h3 {
  color: #515151;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2.4vh;
  margin-top: 50px;
}

.features {
  text-align: center;
}

.features h4 {
  text-transform: uppercase;
  font-weight: bolder;
}

.features p {
  font-size: 1.8vh;
  margin: 0;
}

.features a {
  color: #60CCC6;
  font-size: 1.8vh;
  text-decoration: underline;
}

.features i {
  font-size: 8vh;
}

.one.row {
  margin-bottom: 10px;
}

.prefooter h2 {
  color: #444444;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4.5vh;
  text-align: right;
  margin: 70px 0 50px;
}

.prefooter a {
  background: #E9E9E9;
  color:#737373;
  font-size: 2.5vh;
  border-radius: 4px;
  padding: 5px 10px;
}

.touch {
  margin-top: 76px;
  text-align: left;
}

footer .container-fluid{
  background: #3A3A3A;
  padding: 20px 0;
}

footer .row {
  padding: 0 160px;
}

footer a {
  font-size: 2.2vh;
  font-weight: bold;
  color: #828282;
  margin: 10px 20px;
}

footer a:hover {
  color: #DDDDDD;
}
